<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show Post</title>
    <!-- Add a link to your CSS file here if you have one -->
</head>
<body>

    <h1 class="post-title">Here is your post:</h1>

    <div class="post-id">
        ID: <%= post.id %>
    </div>
    <h3 class="post-username">  
        <%= post.username %>
    </h3> <br>
    <h3 class="post-content">  
        <%= post.content %>
    </h3>
  
</body>
</html>
